<h4>Formation :</h4>
<%= @formation.name %>

<h4>Stagiaires</h4>
<% @formation.formation_users.each do |formation_user| %>
<div><%= formation_user.user.email %>
<td><%= link_to "Supprimer le stagiaire",
formation_formation_user_path(@formation, formation_user), method: :delete %></td></div>
<% end %>

<% if current_user.role == "teacher" %>
<h4>Inviter un stagiaire</h4>
<%= form_for [@formation, FormationUser.new] do |f| %>
  <div>
    <%= f.text_field :email, required: true %>
  </div>
  <%= f.submit "Inviter" %>
<% end %>
<% end %>
